
    <div class="container-fluid">
        <div class="centered" ng-hide="invoiceCustomerDoneLoading">
            <h2 class="centered">
                <span class="fa fa-refresh spin"></span>
                Loading...
            </h2>
        </div>
        <div ng-show="invoiceCustomerDoneLoading">
            
            <ng-form name="customerForm" novalidate class="css-form form-horizontal">
                
                
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact Info</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div>
                                        <label class="h4">Billing Contact</label>
                                        <div data-invoice-contact="data.customer.billingContact" data-is-edit-mode="true" data-tabindex="100"></div>
                                    </div>

                                </div>

                                <div class="col-md-5">
                                    <div>
                                        <label class="h4">Shipping Contact</label>
                                        <span><a href="" ng-click="copyBillingAddress()">copy</a></span>
                                        <div data-invoice-contact="data.customer.shippingContact" data-is-edit-mode="true" data-tabindex="200"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                    
                <div class="row">
                    <button ng-click="saveCustomer()" class="btn btn-primary">Save</button> <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
                </div>
</ng-form>
        </div>
</div>
