<div class="container" nv-file-drop="" uploader="uploader">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="uploadContainer">

                <div class="row">
                    <h3>Add New Documents</h3>
                    Maximum File Size: 12MB. Allowed File Types: pdf, doc, docx, xls, xlsx, txt, rtf, ppt, pptx, jpg, gif, png, bmp, tif, mht.
                </div>

                <div class="row">

                    <div style="line-height: 12px;">
                        Click 'Choose Files' To Select Up To 10 Files From Your Computer.<br />
                        <input id="fileChooser" type="file" data-nv-file-select="" data-uploader="uploader" multiple />
                    </div>
                    
                    <div ng-show="uploader.isHTML5">

                        <div class="drop-area" data-nv-file-over="" data-over-class="drop-area-over" data-uploader="uploader">
                            Or Drag and Drop Up To 10 Files Here
                        </div>
                    </div>

                </div>

                <div class="row" ng-show="uploader.errors.length" style="margin-bottom: 10px;">
                    <h3 class=" error">Errors</h3>
                    <ul>
                        <li class="error" ng-repeat="error in uploader.errors">{{ error}} </li>
                    </ul>
                </div>

                <div class="row" ng-show="uploader.queue.length > 0">

                    <div>
                        Overall queue progress:
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>

                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th width="46%">Upload As</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td>{{formatFilename(item.file.name)}}</td>
                                    <td>
                                        <input id="{{'ex'+ $index + '_value'}}" type="text" placeholder="Type to search Contract Templates..." typeahead-highlight-query="false" ng-model="selected" typeahead="template as template.name for template in contractTemplates | filter:$viewValue | limitTo:10" class="form-control">
                                        @*<angucomplete id="{{'ex' + $index}}"
                                                        placeholder="Type To Search Contract Templates..."
                                                        pause="0"
                                                        selectedobject="selectedContractTemplate"
                                                        localdata="contractTemplates"
                                                        searchfields="name"
                                                        titlefield="name"
                                                        minlength="1"
                                                        inputclass="form-control form-control-small" />*@
                                    </td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="success fas fa-check"></i></span>
                                        <span ng-show="item.isError"><i class="error fas fa-remove"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            Upload all
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            Clear all
                        </button>
                        <button id="backButton" type="button" class="btn btn-success btn-sm" ng-click="goBack();">
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>