<div class="container" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10" style="position: relative;">
            <div class="upload-area" ng-hide="isUploading">
                <div ng-show="uploader.isHTML5">
                    <div class="well my-drop-zone" nv-file-over="" uploader="uploader" style="">
                        <input class="upload-input" type="file" nv-file-select="" uploader="uploader" multiple />
                        <i class="upload-icon fa fa-cloud-upload"></i>
                        <h3>Drop files here or click to upload</h3>
                    </div>
                </div>
                <div ng-hide="uploader.isHTML5">
                    <input type="file" nv-file-select="" uploader="uploader" multiple /><br />
                </div>
            </div>          
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10" ng-show="uploader.queue.length > 0">
            <h3>Upload queue</h3>            
            <table class="table">
                <thead>
                    <tr>
                        <th width="30%">Name</th>
                        <th width="66%">Upload As</th>
                        <th width="1%" ng-show="uploader.isHTML5">Size</th>
                        <th width="1%" ng-show="uploader.isHTML5 && isUploading">
                            Progress
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="item in uploader.queue">
                        <td>{{::item.file.name}}</td>
                        <td>
                            <span ng-init="item.file.alias = item.file.alias || item.file.name"></span>
                            <input type="text" ng-disabled="isUploading" placeholder="Type to Search..." typeahead-highlight-query="false" ng-model="item.file.alias" typeahead="template as template.name for template in contractTemplates | filter:$viewValue | limitTo:10" class="form-control">
                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;" ng-show="isUploading">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': (item.isSuccess || item.isError) ? '100%' : item.progress + '%' }"
                                     ng-class="{ 'progress-bar-success': item.isSuccess, 'progress-bar-danger': item.isError }">

                                    <span ng-show="item.isSuccess">100%</span>
                                    <span ng-show="item.isError"> 0%</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">

                            <button ng-hide="isUploading" type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>

                        </td>
                    </tr>
                    <tr ng-repeat-end="" ng-show="item.isError" class="upload-error-row">
                        <td colspan="5">
                            <div class="alert alert-danger" role="alert">
                                <strong>Not Uploaded</strong>
                                {{item.errorMessage}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-hide="isFinished">
                <button type="button" class="btn btn-default" ng-click="goBack();" ng-disabled="uploader.isUploading">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="uploadAll()" ndg-disabled="!uploader.getNotUploadedItems().length">
                    Upload
                </button>
            </div>
            <div ng-show="isFinished">
                <button type="button" class="btn btn-primary" ng-click="goBack();" ng-disabled="uploader.isUploading">
                    Finish
                </button>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-10" ng-hide="uploader.queue.length > 0">
            <button type="button" class="btn btn-default" ng-click="goBack();" ng-disabled="uploader.isUploading">
                Cancel
            </button>
        </div>

    </div>

</div>