<div class="container-fluid invoiceContainer">
    <div class="row printHide">
        <div class="col-xs-5"><button class="btn btn-sm btn-primary" ng-click="printInvoice()">Print</button></div>
    </div>

    <div class="invoice">
        <div ng-hide="invoiceDoneLoading">
            <h2 class="centered">
                <span class="fa fa-refresh spin"></span>
                Loading...
            </h2>
        </div>
        <div ng-show="invoiceDoneLoading" class="invoiceInfo">
            <span class="folded-corner"></span>
            <div class="" style="padding-right: 0px;">
                <div class="col-xs-6">
                    <div class="businessLogo"><img border="0" alt="" ng-src="{{invoiceServiceCommon.merchantSettings.logoUrl}}"></div>
                    <div class="businfobox">
                        <div class="headline">{{invoiceServiceCommon.merchantSettings.companyName}}</div>
                        <div ng-show="invoiceServiceCommon.merchantSettings.firstName != ''">{{invoiceServiceCommon.merchantSettings.firstName}}&nbsp;{{invoiceServiceCommon.merchantSettings.lastName}}</div>
                        <div>{{invoiceServiceCommon.merchantSettings.addressLine1}}</div>
                        <div>{{invoiceServiceCommon.merchantSettings.addressCity}},&nbsp;{{invoiceServiceCommon.merchantSettings.addressState}}&nbsp;{{invoiceServiceCommon.merchantSettings.zipCode}}</div>
                        <div>{{invoiceServiceCommon.merchantSettings.phone}}</div>
                        <div>{{invoiceServiceCommon.merchantSettings.email}}</div>
                        <div>{{invoiceServiceCommon.merchantSettings.website}}</div>
                    </div>

                </div>
                <div class="col-xs-6 ">
                    <div class="row">
                        <div class="col-xs-5"></div>
                        <div class="col-xs-7" style="text-align: left; padding-left: 3px;">
                            <div class="pageCurl">INVOICE</div>
                        </div>
                    </div>

                    <div class="row invsummary">
                        <div class="col-xs-7" style="text-align: right; padding-right: 10px;">Invoice #:</div>
                        <div class="col-xs-5" style="padding-left: 3px;">INV-{{invoice.invoiceId}}</div>
                    </div>
                    <div class="row invsummary">
                        <div class="col-xs-7" style="text-align: right; padding-right: 10px;">Invoice date:</div>
                        <div class="col-xs-5" style="padding-left: 3px;">{{invoice.invoiceDate | date : 'MM/dd/yyyy'}}</div>
                    </div>
                    <div class="row invsummary">
                        <div class="col-xs-7" style="text-align: right; padding-right: 10px;">Terms:</div>
                        <div class="col-xs-5" style="padding-left: 3px;">{{getInvoiceTerms(invoice)}}</div>
                    </div>

                    <div class="row invsummary">
                        <div class="col-xs-6" style="text-align: right; padding-right: 10px;"></div>
                        <div class="col-xs-6" style="padding-left: 3px;" ng-show="isOverdue(invoice)">
                            <div class="paySummary text-center alert alert-danger">
                                <div>Amount Overdue:</div>
                                <div class="amount"><strong>{{invoice.total | currency}}</strong></div>
                            </div>
                        </div>
                        <div class="col-xs-5" style="padding-left: 3px;" ng-show="!isOverdue(invoice) && !isPaid(invoice)">
                            <div class="paySummary text-center alert">
                                <div>Amount due:</div>
                                <div class="amount"><strong>{{invoice.total | currency}}</strong></div>
                            </div>
                        </div>
                        <div class="col-xs-5" style="padding-left: 3px;" ng-show="!isOverdue(invoice) &&isPaid(invoice)">
                            <div class="paySummary text-center alert alert-success">
                                <div>Paid:</div>
                                <div class="amount"><strong>{{invoice.total | currency}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div>
                <div class="col-xs-5">
                    <div class="headline">
                        Bill To:
                    </div>
                    <div class="recipientInfo">
                        <div data-invoice-contact="invoice.billingContact"></div>
                    </div>
                </div>
                <div class="col-xs-5 col-xs-offset-2">
                    <div class="headline">
                        Ship To:
                    </div>
                    <div class="recipientInfo">
                        <div data-invoice-contact="invoice.shippingContact"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="invoiceItems">
                <div class="invoiceitemheader">
                    <div class="col-xs-3">Product #</div>
                    <div class="col-xs-4">Description</div>
                    <div class="col-xs-1 itemquantity text-right">Qty</div>
                    <div class="col-xs-2 itemprice text-right">Price</div>
                    <div class="col-xs-2 itemamount text-right">Amount</div>
                </div>
                <div class="clearfix"></div>
                <div class="" ng-repeat="invoiceItem in invoice.invoiceItems">
                    <div class="col-xs-3">{{invoiceItem.productNumber}}</div>
                    <div class="col-xs-4">{{invoiceItem.description}}</div>
                    <div class="col-xs-1 itemquantity text-right">{{invoiceItem.quantity}}</div>
                    <div class="col-xs-2 itemprice text-right">{{invoiceItem.price | currency}}</div>
                    <div class="col-xs-2 itemamount text-right">{{(invoiceItem.price * invoiceItem.quantity) | currency}}</div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="invoiceTotals">
                    <div>
                        <!--<div class="col-xs-9">&nbsp;</div>-->
                        <div class="col-xs-offset-8 col-xs-2 text-right">Subtotal</div>
                        <div class="col-xs-2 text-right">{{getInvoiceSubTotal(invoice) | currency}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-show="invoice.shippingCharge">
                        <!--<div class="col-xs-9">&nbsp;</div>-->
                        <div class="col-xs-offset-8 col-xs-2 text-right">Shipping/Handling</div>
                        <div class="col-xs-2 text-right">{{invoice.shippingCharge | currency}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-show="invoice.tax && invoice.tax > 0">
                        <!--<div class="col-xs-9">&nbsp;</div>-->
                        <div class="col-xs-offset-8 col-xs-2 text-right">Tax {{invoice.taxRatePercentage * 100 | number:2}}%</div>
                        <div class="col-xs-2 text-right">{{invoice.tax | currency}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="invoiceTotal">
                        <!--<div class="col-xs-9">&nbsp;</div>-->
                        <div class="col-xs-offset-8 col-xs-2 text-right">Total</div>
                        <div class="col-xs-2 text-right">{{invoice.total | currency}}</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div style="padding-top: 10px;"></div>
            <div class="clearfix"></div>
            <div class="invoiceFooter">
                <div class="headline">Comments</div>
                <p class="notes" ng-bind-html="invoice.comments | unsafeHtml"></p>
            </div>
        </div>
    </div>
    <div class="row printHide">
        <div class="col-md-12">
            <div data-invoice-processing-list="invoice.invoiceProcessings">
            </div>
        </div>
    </div>
</div>