node_modules
npm-debug.log
.vscode
.bin
.git
.gitattributes
.gitignore
README*.md
config
config/*
config/localDebug
config/localDebug/*
config/config.json
Dockerfile
config/ca.cert
config/server.cert
config/server.key
UCRM-DE-Tools.njsproj
UCRM-DE-Tools.sln
.dockerignore
mongodb
dockerCompose


