<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
            <span class="fas fa-not-equal"></span>
            Debug
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="testErrorHandler()"><span class="fas fa-eject"></span> Test Error Handler</a></li>
            <li><a ng-click="testShowLoginDialog()"><span class="fas fa-eject"></span> Test Login Dialog</a></li>
            <li><a ng-click="alertIsUserLoggedIn()"><span class="fas fa-eject"></span> Alert isUserLoggedIn</a></li>
            <li><a ng-click="debugPrintCommon()"><span class="fas fa-eject"></span> Debug Common</a></li>
            <li><a href="" ng-click="logout()"><span class="fas fa-sign-out-alt"></span> Force Log Out</a></li>
        </ul>
    </li>
</ul>