<div class="side-nav" ng-show="commonLogin.isUserLoggedIn">        
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="menuItem in menu.menuItems | filter: onlyActiveMenuSubMenus"
            ng-class="{ active:  (menuItem.linkUrl == pageHash) }">

            <i class="{{ menuItem.linkIcon }}"></i>
            <a ng-href="{{menuItem.linkUrl}}" ng-target="{{menuItem.linkTarget}}">
                {{ menuItem.linkText }}
            </a>
        </li>
        
        <li ng-repeat="subMenuItem in menu.subMenuItems" ng-class="{ active:  (subMenuItem.linkUrl == pageHash) }">
            <i class="{{subMenuItem.linkIcon}}" ></i>
            <a ng-href="{{subMenuItem.linkUrl}}" ng-target="{{subMenuItem.linkTarget}}">{{subMenuItem.linkText}}</a>
        </li>
    </ul>
</div>
