<div>
    <div class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div ng-show="commonLogin.isUserLoggedIn">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class="de_logo" src="/images/DELogo_Cropped_100x43.png" alt="Digital Example Logo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-repeat="menuItem in menu.menuItems | filter: filterTopLevelMenuItem">
                            <a ng-href="{{menuItem.linkUrl}}?lt={{ menuItem.linkText }}" ng-target="{{ menuItem.linkTarget }}">{{ menuItem.linkText }}</a>
                        </li>
                        <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                            <a class="dropdown-toggle" uib-dropdown-toggle>
                                <span class="fas fa-user"></span>
                                {{commonLogin.userInfo.firstName}}&nbsp;{{commonLogin.userInfo.lastName}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li><a ui-sref="user.manage"><span class="fas fa-cog"></span> My Account</a></li>
                                <li><a href="https://billing.digitalexample.com"><span class="fas fa-file"></span> Billing</a></li>
                                <!--<li><a ui-sref="user.invoices"><span class="fas fa-file"></span> Invoices</a></li>
                                <li><a ui-sref="user.customer"><span class="fas fa-file"></span> Billing</a></li>-->
                                <!--<li><a ng-click="testErrorHandler()"><span class="fas fa-exclamation-sign"></span> Test Error Handler</a></li>-->
                                <li role="presentation" class="divider"></li>
                                <li><a ng-click="logout()"><span class="fas fa-sign-out-alt"></span> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span data-debug-menu ng-show="isClientSideDebugging()"></span>
                </div>
            </div>
            <div ng-hide="commonLogin.isUserLoggedIn">
                <!--<button type="button" class="navbar-toggle collapsed" ng-click="login()" style="color: #FFF;">
                    <span class="fas fa-user"></span>
                    Login
                </button>-->
                <div class="navbar-header">
                    <a class="navbar-brand"><img src="/images/DELogo_Cropped_100x43.png" class="de_logo" alt="Digital Example Logo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-repeat="menuItem in menu.menuItems | filter: filterTopLevelMenuItemNotLoggedIn">
                            <a ng-href="{{menuItem.linkUrl}}" ng-target="{{ menuItem.linkTarget }}">{{ menuItem.linkText }}</a>
                        </li>
                        <li ng-hide="$state.is('user-login')">
                            <a ng-click="login()" class="dropdown-toggle" uib-dropdown-toggle>
                                <span class="fas fa-user"></span>
                                Login
                            </a>
                        </li>
                        <li ng-hide="$state.is('user-register')">
                            <a ng-click="register()" class="dropdown-toggle" uib-dropdown-toggle>
                                Register
                            </a>
                        </li>
                    </ul>
                    <span data-debug-menu ng-show="isClientSideDebugging()"></span>
                </div>
            </div>
        </div>
    </div>
</div>