<div class="container-fluid">
    <!--<div class="row">
            <div class="col-xs-12">
                <div class="transactionHistory">
                    <div class="historyDetails">
                        <table class="table" summary="History Details of Invoice" cellspacing="0" bgcolor="#F9F9F9" style="table-layout: inherit;">
                            <tbody bgcolor="#F9F9F9">
                                <tr>
                                    <td colspan="2">
                                        <h2>History</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:25%">Mar 18, 2015, 5:55 AM</td>
                                    <td style="width:75%;word-break: break-all;">Invoice sent</td>
                                </tr>
                                <tr>
                                    <td style="width:25%">Mar 18, 2015, 5:55 AM</td>
                                    <td style="width:75%;word-break: break-all;">Invoice created</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>-->
    
    <div class="row">
        <div data-invoice></div>
    </div>
</div>


