.hideshow {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:1;
}

.hideshow.ng-hide {
  opacity:0;
}

.hideshow.ng-hide-add, .hideshow.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}
