/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
li {
  list-style: none !important;
}
ul {
  list-style: none !important;
  list-style-type: !important;
}
/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  -webkit-text-shadow: none;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  -webkit-text-shadow: none;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.ovh {
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow-y: scroll;
  /*color: @baseFontColor;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.side-nav li.active a {
  background-color: #16222a;
}
.side-nav li.active a:hover {
  background-color: #3a6073;
}
.side-nav li a {
  color: #16222a;
}
.side-nav li a:hover {
  color: #3a6073;
}
.footer {
  color: white;
  font-size: 12px;
  padding: 2px 0;
  background: -webkit-linear-gradient(0, #16222a 10%, #3a6073 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #16222a 10%, #3a6073 90%);
  /* W3C */
}
.login-form {
  max-width: 530px;
  padding: 0 20px;
  margin: auto;
}
.login-form .login-content {
  padding: 20px 0;
}
.body-wrapper {
  padding-top: 60px;
}

#deappform_root {
  overflow-x: hidden;
  height: 100%;
  width: 1268px;
}
.centered {
  text-align: center;
}
.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-title {
  margin: 0 0 30px;
}
.active-menu-item {
  float: right;
  color: #3d9970;
}
.deapp {
    padding-bottom: 40px;       
   /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  /* Fixed static nav bar on all pages*/
  /* List of applications dropdown */
  /* Main page with navigation menu */
}

.deapp .navbar {
  border: none;
}
.deapp .navbar .open a.dropdown-toggle.navbar-brand {
  color: #FFF;
}
.deapp .navbar-fixed-top {
  /*background: -webkit-linear-gradient(0, #16222a 10%, #3a6073 90%);
  /* Chrome 10+, Saf5.1+ */
  /*background: -moz-linear-gradient(90deg, #16222a 10%, #3a6073 90%);*/
  /* FF3.6+ */
  /*background: -ms-linear-gradient(90deg, #16222a 10%, #3a6073 90%);*/
  /* IE10 */
  /*background: -o-linear-gradient(90deg, #16222a 10%, #3a6073 90%);*/
  /* Opera 11.10+ */
  /*background: linear-gradient(90deg, #16222a 10%, #3a6073 90%);*/
  /* W3C */
   height:80px;
    right:15px;
    background-color:white;
}
.deapp .navbar-fixed-top a,
.deapp .navbar-fixed-top a:active,
.deapp .navbar-fixed-top .navbar-brand:hover,
.deapp .navbar-fixed-top .navbar-brand:focus {
  color: #000000;
}
.deapp .navbar-fixed-top a:focus {
  color: #16222a;
}
.deapp .navbar-fixed-top .app-name {
  margin-top: 49px;
}
.deapp .navbar-fixed-top .app-name a {
  color: #16222a;
}
@media (min-width: 768px) {
  .deapp .navbar-fixed-top .open a,
  .deapp .navbar-fixed-top .dropdown ul a {
    color: #16222a;
  }
}
@media (max-width: 768px) {
  .deapp .navbar-fixed-top {
    font-size: 11px;
  }
  .deapp .navbar a.dropdown-toggle:focus,
  .deapp .navbar .open a.dropdown-toggle {
    color: #16222a;
  }
}
.deapp .navbar-fixed-top a:hover {
  color: #16222a;
}
.deapp .navbar-fixed-top .icon-bar {
  background: #FFF;
}
.deapp .main-menu a {
  color: #333;
}
.deapp .main-menu a div {
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.deapp .main-menu a:hover {
  text-decoration: none;
}
.deapp .main-menu a:hover div {
  background-color: #d9e6ec;
}
.deapp .main-menu h2 {
  text-align: center;
  margin-bottom: 30px;
}
.deapp .dragSelected {
  background-color: rgba(231, 141, 0, 0.25) !important;
  border: 1px solid #e78d00 !important;
  cursor: all-scroll;
}
.deapp .highlighted {
  background: rgba(120, 144, 194, 0.45) !important;
  border: 1px solid #7890c2 !important;
}
.deapp .ui-state-disabled {
  opacity: 1.0 !important;
  background-color: none;
}
.deapp .ui-draggable-disabled {
  opacity: 1.0 !important;
  background-color: none;
}
.deapp .lockscroll {
  overflow-y: hidden !important;
}
/* On the settings page*/
.settings input[type="chcekbox"] {
  margin-top: 0;
}
/* ==========================================================================
   jquery ui override classes
   ========================================================================== */
.modal-backdrop {
  opacity: 0.8 !important;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  overflow: hidden;
  border: 0;
  background-color: transparent;
  *text-indent: -9999px;
  /* IE 6/7 fallback */
}
.ir:before {
  display: block;
  width: 0;
  height: 150%;
  content: "";
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: auto;
  height: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
  /* 1 */
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

