
html,
/* body {
    padding-top: 35px;
    padding-bottom: 10px;
}

.mainContent {
  
}

.header {
    background-color: white;
    min-height:80px;
}

.footer {
    text-align: center;
    background-color: white;
    min-height: 20px;
} */


.uisptoolslogo {
    padding: 0px;
}