
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('Close')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact</h4>
    </div>
    <div class="modal-body">
        <data-ctm-contact data-contact="options.contact">
        </data-ctm-contact>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$close(contact)" >Save</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss('Cancel')">Cancel</button>
    </div>
</div><!-- /.modal-content -->



