<div class="container-fluid">
    <div class="row" ng-show="isLoginLoading">
        <h2 class="centered">
            <span class="fa fa-refresh spin"></span>
            Loading...
        </h2>
    </div>

    <div class="row" ng-hide="isLoginLoading">
        
        <div class="col-md-6 login-form">
            <ng-form ng-submit="UserLogin()" name="login">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="alert alert-danger" ng-show="showErrors">
                            <div style="text-align: center; font-size: 1.5em;">{{Errors}}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="deui_login_email" class="col-xs-3 control-label">
                            Email
                        </label>
                        <div class="col-xs-9">
                            <input type="text" name="deui_login_email" ng-model="user.email" class="form-control" placeholder="Email" required />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="deui_login_password" class="col-xs-3 control-label">
                            Password
                        </label>
                        <div class="col-xs-9">
                            <input type="password" name="deui_login_password" ng-keyup="$event.keyCode == 13 && UserLogin()" ng-model="user.password" class="form-control" placeholder="Password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="deui_login_rememberMe" ng-model="user.rememberMe" /> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--<hr />-->
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-3">

                            <button id="deui_login_btnLogin" type="button" class="btn btn-primary btn-sm" ng-click="UserLogin()">
                                Log In
                            </button>

                        </div>
                        <div class="col-xs-3 col-xs-offset-3">
                            <a href="/deui/user/forgotpassword">Forgot Password</a>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </ng-form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div ng-repeat="externalLoginProvider in loginData.externalLoginProviders" class="col-md-6 h4">
                    <div ng-click="externalLogin(externalLoginProvider)" ng-class="['btn','btn-block', 'btn-social' , 'btn-{{externalLoginProvider.name | lowercase}}']"><i ng-class="['fa','{{getFontAwesomeClass(externalLoginProvider.name)}}']"></i> Sign in using {{externalLoginProvider.name}} </div>
                </div>
            </div>

        </div>
    </div>

</div>