<div class="container-fluid">
    <ng-form name="invoicePaymentCreditCardForm" novalidate class="css-form form-horizontal">
        <div class="row">
            <div class="card-information-wrapper">
                <div  style="min-width:500px;">
                    <div class="row">
                        <div class="card-wrapper" style="float:left">
                        </div>
                    </div>
                    <div class="row">
                        <div class="payment-methods centered">
                            <span class="h4">We Accept</span>
                            <i class="fa fa-cc-mastercard"></i>
                            <i class="fa fa-cc-amex"></i>
                            <i class="fa fa-cc-discover"></i>
                            <i class="fa fa-cc-visa"></i>
                        </div>
                    </div>
                </div>
                <div style="min-width:500px;">

                    <div class="row">
                        <div class="col-xs-7 has-feedback" bs-has>
                            <label for="cardNumber">Card Number</label>
                            <input type="text" ng-blur="validateCreditCardNumber($event)"
                                   ng-focus="validateCreditCardNumberReset($event)"
                                   name="cardNumber"
                                   id="cardNumber"
                                   class="form-control"
                                   placeholder="Card Number"
                                   ng-model="invoicePayment.creditCard.creditCardNumber"
                                   value="{{invoicePayment.creditCard.creditCardNumber}}"
                                   required="" />
                            <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                            <span class="fas fa-check form-control-feedback bs-success"></span>
                            <div class="alert alert-danger form-control-alert bs-error bs-invalid" style="margin-top: 10px;">
                                <p>Did you mistype your card number? It appears to be invalid.</p>
                            </div>
                        </div>
                        <div class="col-xs-5 has-feedback" bs-has>
                            <label for="expirationDate">Expiration Date</label>
                            <input type="text" id="expDate" name="expDate" class="form-control" placeholder="MM/YYYY" ng-model="invoicePayment.creditCard.creditCardExp" required="" ng-blur="validateCreditCardExpDate($event)"
                                   ng-focus="validateCreditCardExpDateReset($event)" value="{{invoicePayment.creditCard.creditCardExp}}">
                            <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                            <span class="fas fa-check form-control-feedback bs-success"></span>
                            <div class="alert alert-danger form-control-alert bs-error bs-invalid" style="margin-top: 10px;">
                                <p>Expiration Date must be in MM/YYYY format! It appears to be invalid or expired.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 has-feedback" bs-has>
                            <label for="fullName">Name on Card</label>
                            <input type="text" name="fullName" id="fullName" class="form-control" ng-model="invoicePayment.creditCard.nameOnCard" required="" placeholder="Name on Card" value="{{invoicePayment.creditCard.nameOnCard}}">
                            <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                            <span class="fas fa-check form-control-feedback bs-success"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 has-feedback" bs-has>
                            <label for="cvc">CVC</label>
                            <input type="text" id="cvc" name="cvc" class="form-control" placeholder="CVC" ng-model="invoicePayment.creditCard.creditCardCode" ng-blur="validateCreditCardCode($event)"
                                   ng-focus="validateCreditCardCodeReset($event)" required="" value="{{invoicePayment.creditCard.creditCardCode}}">
                            <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                            <span class="fas fa-check form-control-feedback bs-success"></span>
                        </div>
                    </div>
                </div>
            </div> <!-- end card Wrapper -->
        </div> <!-- end .row -->
    </ng-form>
</div>  <!-- end invoicePayment-CreditCard -->
