<div class="container-fluid">
    <div class="row">
        <div class="card-information-wrapper">
            <div class="col-xs-5" style="min-width:320px;">
                <div class="row">
                    <div class="card-wrapper">
                    </div>
                    <input type="hidden" name="cardNumber" value="{{invoicePayment.creditCard.creditCardNumber}}" />
                    <input type="hidden" name="expDate" value="{{invoicePayment.creditCard.creditCardExp}}" /> 
                    <input type="hidden" name="fullName" value="{{invoicePayment.creditCard.nameOnCard}}" />
                    <input type="hidden" name="cvc" value="{{invoicePayment.creditCard.creditCardCode}}" />
                </div>            
            </div>
        </div> 
    </div> 
</div>  
