version: "3.7"
services:
  uisptools:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        # [Choice] Node.js version: 16, 14, 12
        VARIANT: 16
        # On Linux, you may need to update USER_UID and USER_GID below if not your local UID is not 1000.
        USER_UID: 1000
        USER_GID: 1000
    #image: "ghcr.io/andrewiski/uisp-tools/uisptools:latest"
    image: "andrewiski/uisptools:latest"
    ports:
      - "${UISPTOOLS_HTTPSPORT:-49443}:49443"
      - "${UISPTOOLS_HTTPPORT:-49080}:49080"
    volumes:
      - ../data/config:/usr/src/uisptools/config
      - ../data/logs:/usr/src/uisptools/logs
    container_name: uisptools${UISPTOOLS_ALIAS}
    environment:
      MONGODBSERVERURL: "${MONGODBSERVERURL:-mongodb://${MONGODBUSERNAME:-uisptools}:${MONGODBPASSWORD:-U!spT00ls}!@mongo_mongodb${UISPTOOLS_ALIAS}:${UISPTOOLS_MONGOPORT:-49017}/}" 
      GOOGLEAPIKEY: "${GOOGLEAPIKEY:-}"
    depends_on:
      - uisptools_mongodb${UISPTOOLS_ALIAS}
    networks:
    - uisptoolsnetwork${UISPTOOLS_ALIAS}
    restart: always
  uisptools_mongodb:
    image: mongo
    container_name: uisptools_mongodb${UISPTOOLS_ALIAS}
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGODBUSERNAME:-uisptools}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGODBPASSWORD:-U!spT00ls}"
      MONGO_INITDB_DATABASE: "${MONGODBUSERNAME:-uisptools}"
    volumes:
      - ../data/mongodb/data/db:/data/db
      - ../data/mongodb/data/configdb:/data/configdb
      #- ../data/mongodb/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro
      - ../data/mongodb/docker-entrypoint-initdb.d/01_createDatabase.js:/docker-entrypoint-initdb.d/01_createDatabase.js:ro
      - ../data/mongodb/docker-entrypoint-initdb.d/02_initWebServerPages.js:/docker-entrypoint-initdb.d/02_initWebServerPages.js:ro
    #Remove this line for Production only here for development direct connect to mongo
    ports:
      - "${UISPTOOLS_MONGOPORT:-49017}:27017"  
    restart: always
    networks:
    - uisptoolsnetwork${UISPTOOLS_ALIAS}
networks:
  uisptoolsnetwork${UISPTOOLS_ALIAS}:
