<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 h4">Payment Type:</div>
        <div class="col-xs-4">{{ getStaticName('invoicePaymentTypeList',invoicePayment.invoicePaymentTypeId)}}</div>
    </div><div class="row">
    <div>&nbsp;</div>
</div>
<div class="row">
    <div ng-switch="invoicePayment.invoicePaymentType">
        <div ng-switch-when="0">Create Invoice Only</div>
        <div ng-switch-when="1" data-is-edit-mode="false" data-invoice-payment-credit-card="invoicePayment"></div>
        <div ng-switch-when="2" data-invoice-payment-mail-payment="invoicePayment"></div>
        <div ng-switch-when="4" data-invoice-payment-paypal="invoicePayment"></div>
        <!--<div ng-switch-when="8" data-invoice-payment-electronic-debit="creditcard"></div>-->
        <div ng-switch-when="16" data-is-edit-mode="false" data-invoice-payment-invoice="invoicePayment"></div>
    </div>
</div>

</div>
