<h3>My Settings</h3>

<div class="centered" ng-hide="doneLoading">
    <h2 class="centered">
        <span class="fa fa-refresh spin"></span>
        Loading...
    </h2>
</div>

<div class="container settings" ng-show="doneLoading">
    <div class="col-sm-8" ng-repeat="settingGroup in systemSettingGroups">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{settingGroup.SystemSettingGroup}}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group" ng-repeat="setting in settingGroup.Settings">
                    <div ng-switch on="setting.SettingType">
                        <div ng-switch-when="boolean" class="checkbox">
                            <label class="control-label">
                                <input id="{{setting.htmlID}}" ng-true-value="'true'" ng-false-value="'false'" type="checkbox" ng-model="setting.SettingValue" value="{{setting.SettingValue}}">
                                {{setting.SettingName}}
                            </label>
                        </div>
                        <div ng-switch-default>
                            <label class="control-label">{{setting.SettingName}}:</label>
                            <input id="{{setting.htmlID}}" class="form-control" ng-model="setting.SettingValue"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <button ng-click="updateSettings()" type="button" class="btn btn-primary" style="float:right;">
                <span class="fas fa-floppy-o"></span> Save
            </button>
        </div>
    </div>
</div>
