
<div>
    <div style="width:100%">
        <div><a href="{{data.baseUrl}}/"><img src="{{data.baseUrl}}/images/DELogo_Invoice.png" /></a></div>
        <p>
            Dear {{data.customer.billingContact.firstName}} {{data.customer.billingContact.lastName}},<br />
            The following Invoices with a total amount of {{data.total | currency}} are awaiting payment.<br />
            Please click <a href="{{data.baseUrl}}/deui/user/invoices?invoiceStatusId=0&pay=true&select=true">here</a> to visit our website and make a payment.<br />

        </p>
        <table>
            <thead>
                <tr>
                    <th class="col-xs-2">Number</th>
                    <th class="col-xs-1">Date</th>
                    <th class="col-xs-1">Total</th>
                    <th class="col-xs-1">Status</th>
                    <th class="col-xs-2">Processing</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in data.invoiceList" on-finish-render="invoiceListRenderComplete()">
                    <td class="col-xs-2">
                        <a href="{{data.baseUrl}}/deui/user/invoice/{{invoice.invoiceGuid}}">INV-{{ invoice.invoiceId}}</a>
                    </td>
                    <td class="col-xs-1"> {{ invoice.invoiceDate | date:'MM/dd/yyyy'}} </td>
                    <td class="col-xs-1"> {{ invoice.total | currency  }} </td>
                    <td class="col-xs-1"> {{ getStaticName('invoiceStatusList',invoice.invoiceStatusId)}} </td>
                    <td class="col-xs-2"> {{ getStaticName('invoiceProcessingStatusList',invoice.invoiceProcessingStatusId)}} </td>
                </tr>
            </tbody>

        </table>
        <hr />
        <p>
            Your Username is <b>{{data.aspUser.userName}}</b>.<br />
            If you do not remember your password please click <a href="{{data.baseUrl}}/deui/user/forgotpassword?username={{urlEncode(data.aspUser.userName)}}">here</a> to request a reset password email. <br />
            For Question or Comments regarding this email please contact us at <br />
            Digital Example, LLC - 350 E XY Ave Vicksburg, MI 49097 - 269-382-3334 - <a href="mailto:info@digitalexample.com">info@digitalexample.com</a>
        </p>
    </div>
</div>


