<div class="container-fluid">
    <ng-form name="invoicePaymentinvoiceForm" novalidate class="css-form form-horizontal">
        <div class="row">
            <div class="col-xs-5" style="min-width:320px;">
                <div data-invoice-mini></div>
            </div>
            <div class="col-xs-7">
                <div >
                    <label for="emailAddress">Email To Send Invoice To</label>
                    <span>{{invoicePayment.invoice.emailAddress}}</span>
                </div>  
            </div>
        </div> 
    </ng-form>
</div>  
