
    <div class="container-fluid">
        <ng-form name="contactForm" novalidate class="css-form form-horizontal">

            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="companyName">Company</label>
                    <input type="text" class="form-control" name="companyName" ng-model="contact.companyName" placeholder="Company Name" tabindex="{{getTabIndex(1)}}">
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="contact.firstName" placeholder="First Name" required ng-blur="firstNameVisited = true;" tabindex="{{getTabIndex(2)}}">
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastName" ng-model="contact.lastName" placeholder="Last Name" required tabindex="{{getTabIndex(3)}}">
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>


            </div>           
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="address">
                        Address <a href="" ng-click="enableAddressSearch()"><i class="pull-right fa fa-search"></i></a>
                    </label>
                    <input type="text" ng-hide="addressSearch" class="form-control" name="address" ng-model="contact.address" placeholder="Address" required="" tabindex="{{getTabIndex(4)}}">
                    <span ng-hide="addressSearch" class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span ng-hide="addressSearch" class="fas fa-check form-control-feedback bs-success"></span>
                    <div ng-show="addressSearch">
                        <ui-select ng-model="address.selected"
                                   theme="bootstrap"
                                   reset-search-input="false"
                                   style="width: 300px;"
                                   on-select="addressSelected($item, $model, contact)"
                                   class="form-control"
                                   autofocus="true"
                                   focus-on="Contact_AddressSearch">
                            <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
                            <ui-select-choices repeat="address in addresses track by $index"
                                               refresh="refreshAddresses($select.search)"
                                               refresh-delay="0">
                                <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="address2">
                        Address Line 2
                    </label>
                    <input type="text" class="form-control" name="address2" ng-model="contact.address2" placeholder="Address Line 2" tabindex="{{getTabIndex(5)}}">
                    <span ng-hide="addressSearch" class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span ng-hide="addressSearch" class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="city">City</label>
                    <input type="text" class="form-control" name="city" ng-model="contact.city" placeholder="City" required="" tabindex="{{getTabIndex(6)}}">
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="state">
                        State
                    </label>
                    <input type="text" class="form-control" name="state" ng-model="contact.state" placeholder="State" required="" tabindex="{{getTabIndex(7)}}">
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="zip">
                        Zip
                    </label>
                    <input type="text" class="form-control" name="zip" ng-model="contact.zip" placeholder="ZipCode" required="" tabindex="{{getTabIndex(8)}}">
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="email">
                        Email Address:
                    </label>
                    <input type="email" class="form-control" ng-model="contact.email" placeholder="Enter email address" required="" data-mailcheck tabindex="{{getTabIndex(9)}}" />
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>

            <div class="row">
                <div class="has-feedback" bs-has>
                    <label class="control-label" for="phone">
                        Phone Number:
                    </label>
                    <input type="tel" class="form-control" ng-model="contact.phone" placeholder="Enter phone number" required="" tabindex="{{getTabIndex(10)}}" />
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>

        </ng-form>
</div>
