<div class="centered" ng-hide="doneLoading">
    <h2 class="centered">
        <span class="fa fa-refresh spin"></span>
        Loading...
    </h2>
</div>

<div class="container" ng-show="doneLoading">
    <div class="row">
        <h3>Contact List</h3>
        <div class="row">
            <div class="col-sm-1">&nbsp;
            </div>
            <div class="col-sm-2">
                <label class="control-label">First Name</label>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Last Name</label>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Email Address</label>
            </div>
        </div>
        <div class="row" ng-repeat="contact in contactList">
            <div class="col-sm-1">
                <a class="btn btn-primary" href="/deui/contact/{{contact.contactGuid}}">open</a>
                <a class="btn btn-primary" href="javascript:void(0)" ng-click="showContactDialog(contact)">edit</a>
            </div>
            <div class="col-sm-2">
                {{contact.firstname}}
            </div>
            <div class="col-sm-2">
                {{contact.lastname}}
            </div>
            <div class="col-sm-2">
                {{contact.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <a class="btn btn-primary" href="javascript:void(0)" ng-click="showContactDialog()">New</a>
            </div>
        </div>
    </div>
</div>