<div class="container-fluid">
    
<div class="row">
    <div class="col-sm-3">{{ invoiceRecurrence.startDate | date : 'MM/dd/yyyy'}}</div>
    <div class="col-sm-3">{{ invoiceRecurrence.lastExecutionDate | date : 'MM/dd/yyyy'}}</div>
    <div class="col-sm-3">{{ getStaticName('invoiceRecurrenceStatusList',invoiceRecurrence.invoiceRecurrenceStatusId)}}</div>
    <div class="col-sm-3">{{ invoiceRecurrence.invoice.total | currency}}</div>
    <div class="col-sm-3">{{ invoiceRecurrence.invoice.description}}</div>
</div>

</div>
