<div class="container-fluid">
    <h5>Admin Invoices</h5>
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label for="InvoiceSearch_Status">Status</label>
                    <select class="form-control" ng-model="invoiceListRequest.invoiceStatusId" name="InvoiceSearch_Status" ng-options="item.invoiceStatusId as item.name for item in invoiceStatusListSearch">
                        <option value="-1">All</option>
                    </select>
                </div>
                <!--<div class="form-group">
                    <label for="InvoiceSearch_Type">Type</label>
                    <select class="form-control" ng-model="invoiceListRequest.invoiceTypeId" name="InvoiceSearch_Type" ng-options="item.invoiceTypeId as item.name for item in invoiceServiceCommon.statics.invoiceTypeList">
                        <option value="-1">All</option>
                    </select>
                </div>-->
                <div class="form-group">
                    <label for="InvoiceSearch_StartDate">Start Date</label>
                    <p class="input-group" moment-picker="invoiceListRequest.startDate" format="MM/DD/YYYY" today="true" keyboard="true" max-date="invoiceSearch.stopDate">
                        <input type="text" ng-model="invoiceListRequest.startDate" name="InvoiceSearch_StartDate" class="form-control" ng-required="false" ng-model-options="{ updateOn: 'blur' }" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="InvoiceSearch_StopDate">Stop Date</label>
                    <p class="input-group" moment-picker="invoiceListRequest.stopDate" format="MM/DD/YYYY" today="true" keyboard="true" min-date="invoiceSearch.startDate">
                        <input type="text" ng-model="invoiceListRequest.stopDate" name="InvoiceSearch_StopDate" class="form-control" ng-required="false" ng-model-options="{ updateOn: 'blur' }" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group col-xs-7">
                    <label class="form-group col-xs-1" for="InvoiceSearch_Customer">Customer</label>
                    <div class="input-group col-xs-offset-1 col-xs-6">
                        <ui-select name="InvoiceSearch_Customer" ng-model="invoiceListRequest.customerGuid"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false"
                                   class="input-group col-xs-6"
                                   style="width:300px">
                            <ui-select-match placeholder="Enter an Name...">{{$select.selected.billingContact.lastName}}, {{$select.selected.billingContact.firstName}}</ui-select-match>
                            <ui-select-choices repeat="customer.customerGuid as customer in customerSearchList"
                                               refresh="refreshCustomers($select.search)"
                                               refresh-delay="0">
                                <div ng-bind-html="customer.billingContact.lastName + ',' + customer.billingContact.firstName  | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group col-xs-5">
                    <button class="btn btn-primary" ng-click="refreshInvoices()">Search</button>
                    <a ui-sref="admin.invoices.invoice({invoiceGuid:'new'})" class=" btn btn-default btn-sm" ng-click><i class="fa fa-plus"></i>Add</a>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <hr />
    </div>
    <div class="centered" ng-hide="invoiceListDoneLoading">
        <h2 class="centered">
            <span class="fa fa-refresh spin"></span>
            Loading...
        </h2>
    </div>
    <div class="container-fluid" ng-show="invoiceListDoneLoading">
        <div class="row">
            <div class="col-xs-1">Select</div>
            <div class="col-xs-2">Invoice #</div>
            <div class="col-xs-1">Date</div>
            <div class="col-xs-1">Total</div>
            <div class="col-xs-1">Status</div>
            <div class="col-xs-2">Customer</div>
        </div>
        <div class="row" ng-repeat="invoice in invoiceList">
            <div class="col-xs-1"><input type="checkbox" />&nbsp;<a ui-sref="admin.invoices.invoice({invoiceGuid: invoice.invoiceGuid})"><i class="fa fa-edit"></i></a></div>
            <div class="col-xs-2"><a ui-sref="user.invoice({invoiceGuid: invoice.invoiceGuid})">INV-{{invoice.invoiceId}}</a></div>
            <div class="col-xs-1">{{invoice.invoiceDate | date : 'MM/dd/yyyy'}} </div>
            <div class="col-xs-1"> {{ invoice.total | currency  }} </div>
            <div class="col-xs-1"> {{ getStaticName('invoiceStatusList',invoice.invoiceStatusId)}} </div>
            <div class="col-xs-2"> {{ invoice.billingContact.firstName }} {{ invoice.billingContact.lastName }} </div>

        </div>

    </div>
</div>