body {
}



.pageCurl {
  color: #9da3a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 30px;
}

.pageCurl.invoiceMini {
  margin-bottom: 2px;
  font-size: 10px;
}

.folded-corner {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -2px;
  right: -2px;
  border-style: none solid solid none;
  border-width: 0 70px 70px 0;
  border-style: solid;
  background: #e6e6e6;
  border-color: #fff #fff transparent transparent;
}

.folded-corner.invoiceMini {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -2px;
  right: -2px;
  border-style: none solid solid none;
  border-width: 0 20px 20px 0;
  border-style: solid;
  background: #e6e6e6;
  border-color: #fff #fff transparent transparent;
}

.invoice {
  width: 750px;
}

.invoiceInfo {
  margin: 0px 0px 40px;
  padding: 10px;
  position: relative;
  background-color: #fff;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 2px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:110%
}

.invoiceMini .row{
    margin-left:-5px;
    margin-right:-5px;

}

.invoiceInfo.invoiceMini {
  /*width: auto;*/
  margin: 0px 0px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  background-color: #fff;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:7px;
  width:250px;
  height:300px;
}

.invoiceStatus {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.businfobox {
    font-size: .8em;
  padding-bottom: 1em;
  word-wrap: normal;
}

.recipientInfo {
  padding-bottom: 1em;
  word-wrap: normal;
}

.headline {
      color: #555;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
      margin-top: 0;
      vertical-align: middle;
      text-align: left;
}
.invsummary {
  margin-top: 2px;
  margin-bottom: 2px;
  /* word-break: break-all; */
  word-wrap: break-word;
}

.paySummary {
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

.paySummary.invoiceMini {
  margin-top: 2px;
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 1px;
}

.well-sm.invoiceMini{
  padding:1px;
  border-radius:1px;
  min-height:8px;
  margin-bottom:5px;
}

.paypalLogo.invoiceMini{
  font-size:30px;
}

.rowheader{
    font-weight:bold;
    border-radius:3px;
    background-repeat: repeat-x;
    background-color: #dcdcdc;
    min-height: 20px;
    border:1px solid #dddddd;
}

.invoiceitemheader{
    font-weight:bold;
    border-radius:3px;
    background-repeat: repeat-x;
    background-color: #dcdcdc;
    min-height: 20px;
    border:1px solid #dddddd;
}

.invsummary .paySummary .amount {
  font-size: 150%;
}

.invoiceItems{
  padding-right:10px;
  padding-left:10px;
}

.invoiceTotals{
  margin-top:10px;
}

.invoiceTotals div:first-child div:nth-child(n+1){
  border-top: 1px solid #dddddd;  
}
.invoiceTotals div:not(:last-child) div:nth-child(n+1){
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  
}

.invoiceTotals div:first-child div:nth-child(n+2){
  
}
.invoiceTotals div:not(:last-child) div:nth-child(n+2){

}


.invoiceTotal div:nth-child(n+1){
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  font-weight: bold;
  min-height: 15px;
  /*border-radius: 2px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.invoiceTotal.invoiceMini div:nth-child(n+1){
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  font-weight: bold;
  min-height: 8px;
  /*border-radius: 1px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


.invoiceTotal div:nth-child(n+2){
  
}

.invoiceTotal.invoiceMini div:nth-child(n+2){
 
}

.invoiceContact{
    margin:5px;
}

.invoiceContact.invoiceContactName{
    font-weight: bold;
}
/*.invoiceItemsAndTotals{
    margin:10px 10px 10px 10px;  
}
.invoiceItemsAndTotals.invoiceMini{
    margin:2px 2px 2px 2px;  
}
.invoiceItemsAndTotals.row{
    margin-left:0px;
    margin-right:0px;
    
}
.invoiceItemsAndTotals .row.invoiceMini{
    margin-left:3px;
    margin-right:3px;
    
}*/

.payment-methods{
    font-size:xx-large;
}



@media print {

@page { 
    size: 8.5in 11in;
    margin: 5px;
}
   .invoiceitemheader{
    border:1px solid #dddddd;
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
   }

  .sidebar {
    display:none;
  }
  .printHide {
    display:none;
  }
  footer {
    display:none;
  }
  .folded-corner{
    display:none;
  }
  .invoiceContainer{
    width:100%;
    
    page-break-after:auto;
  }
  .invoice {
    background: white;
    width:100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    
  }
  .invoiceInfo{
      border-style:none;
      position:relative;
      height: 11in;
      padding:10px;
      margin:0;
      font-size:18px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .invoiceFooter{
    bottom:.25in;
    position:absolute;
  }
  .businfobox{
      font-size:16px;

  }
}