<div class="container-fluid">
    <div ng-hide="showResetPassword">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h4>Request Password Reset Email</h4>
                </div>
                <ng-form name="sendEmailForm">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <div class="alert alert-danger" ng-show="showSendEmailErrors || (sendEmailForm.$submitted && sendEmailForm.$valid == false)">
                                    <ul>
                                        <li class="error" ng-show="showSendEmailErrors">{{sendEmailErrors}}</li>
                                        <li class="error" ng-show="sendEmailForm.sendEmail_email.$error.required">The Email field is required!</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="alert alert-success" ng-show="showSendEmailSuccess">
                                Password Reset Email Sent Successfully!
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="has-feedback" bs-has>
                                    <label class="control-label" for="Email">Email</label>
                                    <input ng-model="sendEmailData.username" class="form-control" id="sendEmail_email" name="sendEmail_email" type="text" value="" placeholder="Email" required />
                                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                                    <span class="fas fa-check form-control-feedback bs-success"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button id="deui_forgotPassword_btnSubmit" type="button" class="btn btn-primary btn-sm" ng-click="sendEmail()">
                                        Send Email
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
    <div class="row" ng-show="showResetPassword">
        <p>To change your password enter a new password.</p>
        <ng-form name="setPasswordForm" class="col-md-6">
            <h4>Reset Password</h4>
            <hr />
            <div class="alert alert-danger" ng-show="showSetPasswordErrors || setPasswordForm.$submitted && setPasswordForm.$valid == false ">
                <ul>
                    <li class="error" ng-show="showSetPasswordErrors">{{setPasswordErrors}}</li>
                    <li class="error" ng-show="setPasswordForm.Password.$error.required">The Password field is required!</li>
                    <li class="error" ng-show="setPasswordForm.Password.$error.minlength">The Password must be at least 6 characters long!</li>
                    <li class="error" ng-show="setPasswordForm.Password.$error.maxlength">The Password must be at less then 100 characters long!</li>
                    <li class="error" ng-show="setPasswordForm.ConfirmPassword.$error.$invalid">The password and confirmation password do not match!</li>
                </ul>
            </div>
            <div class="alert alert-success" ng-show="showSetPasswordSuccess">
                Password Changed Successfully!<br/>
                Please use your new password to <a ng-href="{{getLoginUrl()}}">login</a>.
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label for="SetPasswordNewPassword" class="control-label">New password</label>
                    <input type="password" id="SetPasswordNewPassword" class="form-control" ng-model="setPasswordData.newPassword" />
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                <div class="has-feedback" bs-has>
                    <label for="SetPasswordConfirmPassword" class="control-label">Confirm new password</label>
                    <input type="password" id="SetPasswordConfirmPassword" class="form-control" ng-model="setPasswordData.confirmPassword" />
                    <span class="fas fa-remove form-control-feedback bs-error bs-invalid"></span>
                    <span class="fas fa-check form-control-feedback bs-success"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-6">
                    <button type="submit" class="btn btn-default" ng-click="setPassword();">Set password</button>
                </div>
            </div>
        </ng-form>
    </div>

</div>