<div class="login-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img id="uisptools_login_logo" alt="DE Logo" src="/images/logo.png" style="display:block; margin: 20px auto;">
            </div>
            <div class="dialogLoading" style="display:none">
                <h2 class="centered">
                    <span class="fa fa-refresh spin"></span>
                    Loading...
                </h2>
            </div>
            <div class="dialogContent">
                <div class="col-md-12">
                    <form name="login" onsubmit="return false">
                        <div class="form-horizontal">
                            
                            <div class="form-group">
                                <label for="uisptools_login_username" class="form-label">User Name</label>
                                <input type="text" id="uisptools_login_username" class="form-control" tabindex="1" autofocus="" required="" placeholder="User Name" autocomplete="username" />
                                <small id="emailHelp" class="form-text text-muted">Username may be your email address.</small>
                            </div>
                            <div class="form-group">
                                <label for="uisptools_login_password" class="form-label">Password</label>
                                <input type="password" id="uisptools_login_password" class="form-control" tabindex="2" placeholder="Password" autocomplete="current-password" />
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" id="uisptools_login_rememberMe" />
                                <label class="form-check-label" for="uisptools_login_rememberMe">Remember Me</label>
                            </div>
                            
                            <!--<a href="#">Forgot Password</a>-->
                        </div>
                    </form>
                    <div id="uisptools_login_error" class="alert alert-danger" role="alert" style="margin:10px 0;display:none;">
                        <div id="uisptools_login_errormsg" style="text-align: center; font-size: 1.5em;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>